.git
.gitignore
.editorconfig
.env
.env.*
!.env.example
node_modules
vendor
npm-debug.log
yarn-error.log
docker-compose.override.yml
bootstrap/cache/*.php
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
